#frps编辑配置文件
[common]
# 监听端口
bind_port = 7000
# 面板端口
dashboard_port = 7878
# 登录面板账号设置
dashboard_user = ${DASHBOARD_USER}
dashboard_pwd = ${DASHBOARD_PWD}
# 身份验证
token = ${TOKEN}
# 最大池连接数
max_pool_count = ${MAX_POOL_COUNT}